@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #ffffff; /* 0 0% 100% */
  --foreground: #0f0e11; /* 20 14.3% 4.1% */
  --card: #ffffff; /* 0 0% 100% */
  --card-foreground: #0f0e11; /* 20 14.3% 4.1% */
  --popover: #ffffff; /* 0 0% 100% */
  --popover-foreground: #0f0e11; /* 20 14.3% 4.1% */
  --primary: #fb8c00; /* 24.6 95% 53.1% */
  --primary-foreground: #192130; /* 60 9.1% 97.8% */
  --secondary: #f2e9d8; /* 60 4.8% 95.9% */
  --secondary-foreground: #717988; /* 24 9.8% 10% */
  --muted: #f2e9d8; /* 60 4.8% 95.9% */
  --muted-foreground: #7b6248; /* 25 5.3% 44.7% */
  --accent: #f2e9d8; /* 60 4.8% 95.9% */
  --accent-foreground: #1f1810; /* 24 9.8% 10% */
  --destructive: #ee534f; /* 0 84.2% 60.2% */
  --destructive-foreground: #f8ede2; /* 60 9.1% 97.8% */
  --border: #dedede; /* 20 5.9% 90% */
  --input: #dedede; /* 20 5.9% 90% */
  --ring: #fb8c00; /* 24.6 95% 53.1% */
  --radius: 0.5rem;
  --chart-1: #f06449; /* 12 76% 61% */
  --chart-2: #2e9980; /* 173 58% 39% */
  --chart-3: #1f4e5f; /* 197 37% 24% */
  --chart-4: #f6c744; /* 43 74% 66% */
  --chart-5: #fd9d3f; /* 27 87% 67% */
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #000; /* 20 14.3% 4.1% */
  --foreground: #f8ede2; /* 60 9.1% 97.8% */
  --card: #0f0e11; /* 20 14.3% 4.1% */
  --card-foreground: #f8ede2; /* 60 9.1% 97.8% */
  --popover: #0f0e11; /* 20 14.3% 4.1% */
  --popover-foreground: #f8ede2; /* 60 9.1% 97.8% */
  --primary: #f57c00; /* 20.5 90.2% 48.2% */
  --primary-foreground: #f8ede2; /* 60 9.1% 97.8% */
  --secondary: #2a1f1b; /* 12 6.5% 15.1% */
  --secondary-foreground: #b7b6b6; /* 60 9.1% 97.8% */
  --muted: #2a1f1b; /* 12 6.5% 15.1% */
  --muted-foreground: #a38562; /* 24 5.4% 63.9% */
  --accent: #2a1f1b; /* 12 6.5% 15.1% */
  --accent-foreground: #f8ede2; /* 60 9.1% 97.8% */
  --destructive: #d94444; /* 0 72.2% 50.6% */
  --destructive-foreground: #f8ede2; /* 60 9.1% 97.8% */
  --border: #2f2e2d; /* 12 6.5% 15.1% */
  --input: #2f2e2d; /* 12 6.5% 15.1% */
  --ring: #f57c00; /* 20.5 90.2% 48.2% */
  --chart-1: #648cd2; /* 220 70% 50% */
  --chart-2: #339966; /* 160 60% 45% */
  --chart-3: #ffba4a; /* 30 80% 55% */
  --chart-4: #9c78e0; /* 280 65% 60% */
  --chart-5: #ff7099; /* 340 75% 55% */
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

/* Estas clases se aplicarán según el estado del contenido */
[data-slot="accordion-content"][data-state="open"] {
  animation: accordion-down 0.7s ease;
}

[data-slot="accordion-content"][data-state="closed"] {
  animation: accordion-up 0.7s ease;
}

@layer utilities {
  .animate-wave {
    animation: wave 5s ease-in-out infinite;
  }

  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles/globals.css */
.custom-scrollbar::-webkit-scrollbar {
  height: 9px; /* ancho del scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* color del track (gris claro) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ef4444; /* color del pulgar (gris oscuro) */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.gmnoprint {
  display: none !important;
}
